---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-40">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy jonadev
        <div class="flex justify-center items-center">
          <Badge>disponible para trabajar</Badge>
        </div>
      </h1>
      <h2 class="text-xl">
        Desarrollador web con +2 años de experiencia como freelance y creador de
        contenido. De Buenos Aires, Argentina.
      </h2>
    </section>
  </main>
</Layout>
