---
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import "../styles/global.css";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import Project from "../icons/Project.astro";
import Projects from "../components/Projects.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout
  title="portfolio de jonadev - Desarrollador y Programador Web Freelance con +2 años de experiencia"
  description="Bienvenidos a mi portfolio. Soy Jonadev y estoy abierto a nuevas propuestas. Contactame y hablemos de tu proyecto."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-7" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>
      <SectionContainer id="projects">
        <TitleSection>
          <Project class="size-7" />
          Proyectos Destacados
        </TitleSection>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mi
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
