---
const personalImageAlt = "Jona Dev";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-cyan-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, mi nombre es Jonatan. Soy estudiante de la tecnicatura superior en
      sistemas y un apasionado del desarrollo web y la divulgación mediante
      contenido educativo. Actualmente estoy <strong
        >trabajando de manera autonoma en varios proyectos de desarrollo para
        emprendedores</strong
      >.
    </p>

    <p>
      Entre mis éxitos destaco <strong>
        haber liderado el rediseño completo y la migración de un sitio web,
        implementando mejoras clave que impulsaron su crecimiento</strong
      >. Actualmente lidero la estrategia de contenidos para mantener el sitio
      optimizado.
    </p>

    <p>
      Como creador de contenido, <strong
        >comparto recursos, tutoriales y experiencias reales sobre desarrollo
        web en plataformas como YouTube e Instagram,</strong
      > con el objetivo de acompañar a nuevos desarrolladores y mejorar el acceso
      a contenido técnico en español.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/jonadev.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
