---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Desarrollador Web Freelance",
    description:
      "Desarrollador web freelance con 2 años de experiencia en el diseño, desarrollo y mantenimiento de sitios y aplicaciones web.",
    link: "",
  },
  {
    date: "Actualmente",
    title: "Creador De Contenido",
    description:
      "Creador de contenido enfocado en el desarrollo web, responsable de crear contenido educativo, informativo y atractivo sobre tecnologías web, lenguajes de programación, frameworks y mejores prácticas de desarrollo.",
    link: "",
  },
  {
    date: "Actualmente",
    title: "Web master - Anime Argentina",
    description:
      "Responsable de migrar el contenido, rediseñar y mantener el sitio web. He logrado mejorar el rendimiento en un 20%, duplicar la cantidad de visitas diarias al sitio e incrementar los ingresos del proyecto implementando publicidad de Google.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
