<footer class="py-20">
  <p class="text-center">
    &copy; 2025 Un sitio basado en el <a href="https://porfolio.dev/"
      >portfolio</a
    > de <a href="https://github.com/midudev">midudev</a> y <a
      href="https://www.twitch.tv/midudev">su comunidad</a
    >.
  </p>
</footer>
