<footer class="py-16">
  <p class="text-center">
    &copy; 2025 Un sitio basado en el <a
      class="text-cyan-500"
      href="https://porfolio.dev/">portfolio</a
    > de <a class="text-cyan-500" href="https://github.com/midudev">midudev</a> y
    <a class="text-cyan-500" href="https://www.twitch.tv/midudev"
      >su comunidad</a
    >.
  </p>
</footer>
