---
import "../styles/global.css";
---

<header class="flex justify-around items-center py-5 w-[1120px] mx-auto">
  <img src="/profile1.jpeg" class="rounded-full w-12 h-12" alt="jona dev" />
  <nav class="flex flex-row gap-x-10">
    <a href="">Inicio</a>
    <a href="">Sobre mi</a>
    <a href="">Proyectos</a>
    <a href="">Contacto</a>
  </nav>
</header>
